{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Каталог товаров
{% endblock %}

{% block content %}

<section class="product-section">
    <h2 class="section-title">Каталог</h2>

    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}
                                {{ product.image.url }}
                              {% else %}
                                {% static 'img/no_image.png' %}
                              {% endif %}">
                    <h3>{{ product.name }}</h3>
                </a>

                <div class="product-bottom">
                    <span class="price">{{ product.price }} ₽</span>
                    <a href="{{ product.get_absolute_url }}" class="buy-btn">
                        Купить
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}